$primary-color-50: #fbf8fc;
$primary-color-100: #f5eef9;
$primary-color-200: #eee0f4;
$primary-color-300: #e0c7eb;
$primary-color-400: #cba3dd;
$primary-color-500: #b67fcd;
$primary-color-600: #a66abe;
$primary-color-700: #8b4ea2;
$primary-color-800: #744485;
$primary-color-900: #5f386b;
$primary-color-950: #411f4c;

$secondary-color-50: #f2f8fd;
$secondary-color-100: #e4effa;
$secondary-color-200: #c2def5;
$secondary-color-300: #8dc4ec;
$secondary-color-400: #5faee3;
$secondary-color-500: #298bce;
$secondary-color-600: #1a6eaf;
$secondary-color-700: #16588e;
$secondary-color-800: #174b75;
$secondary-color-900: #184062;
$secondary-color-950: #102841;

$tertiary-color-50: #fffaeb;
$tertiary-color-100: #fff0c6;
$tertiary-color-200: #ffdf88;
$tertiary-color-300: #ffce5c;
$tertiary-color-400: #ffb220;
$tertiary-color-500: #f98f07;
$tertiary-color-600: #dd6802;
$tertiary-color-700: #b74706;
$tertiary-color-800: #94360c;
$tertiary-color-900: #7a2e0d;
$tertiary-color-950: #461502;

$base-shadow: 0 2px 20px rgba(0, 0, 0, .3);

$close-color: #ef4444;
$close-hover-color: #dc2626;
